<div class="show-product">
  <h2>Desserts</h2>
  @for (product of products(); track product.name + product.title +
  product.price + product.counter){
  <div class="product">
    <div class="img">
      <img
        [ngClass]="product.selected ? 'product-active ' : ' product-deactive'"
        src="{{ product.img }}"
        alt="Machlou"
      />
      <div
        *ngIf="!product.selected"
        class="add-to-cart"
        (click)="addToCart(product)"
      >
        <img src="./assets/icon-add-to-cart.svg" alt="" />
        Add To Cart
      </div>
      <div *ngIf="product.selected" class="counter">
        <button (click)="decrementNbProd(product)" class="moins">-</button>
        <h5>{{ product.counter }}</h5>
        <button (click)="incrementNbProd(product)" class="plus">+</button>
      </div>
    </div>
    <h4>{{ product.name }}</h4>
    <h3>{{ product.title }}</h3>
    <h2>${{ product.price }}</h2>
  </div>
  }
</div>
<div *ngIf="this.popUpStatus()" class="popup-back"></div>
<div *ngIf="this.popUpStatus()" class="popup">
  <div class="header">
    <img src="./assets/icon-checked.svg" alt="" />
    <h2>Order Confirmed</h2>
    <p>We hope you enjoy you food!</p>
  </div>
  <div class="products">
    <div class="product">
      <div class="img">
        <img src="./assets/image-baklava-desktop.jpg" alt="" />
      </div>
      <div class="details">
        <div class="title">my product title here</div>
        <div class="number-price">
          <h3>5x</h3>
          <h3>$53.87</h3>
        </div>
      </div>
      <div class="prdPriceTotal">$654.65</div>
    </div>
    <div class="product">
      <div class="img">
        <img src="" alt="" />
      </div>
      <div class="details">
        <div class="title"></div>
        <div class="number-price">
          <h3>5x</h3>
          <h3>$53.87</h3>
        </div>
      </div>
      <div class="prdPriceTotal">$654.65</div>
    </div>
  </div>
  <div class="order-total">
    <h3>Order Total :</h3>
    <h3>$1999.79</h3>
  </div>
  <div class="btn">
    <button (click)="deactivePopUp()">Start New Order</button>
  </div>
</div>
