<div class="show-product">
  <h2>Desserts</h2>
  @for (product of products(); track product.name + product.title +
  product.price + product.counter){
  <div class="product">
    <div class="img">
      <img
        [ngClass]="product.selected ? 'product-active ' : ' product-deactive'"
        src="{{ product.img }}"
        alt="Machlou"
      />
      <div
        *ngIf="!product.selected"
        class="add-to-cart"
        (click)="addToCart(product)"
      >
        <img src="./assets/icon-add-to-cart.svg" alt="" />
        Add To Cart
      </div>
      <div *ngIf="product.selected" class="counter">
        <button (click)="decrementNbProd(product)" class="moins">-</button>
        <h5>{{ product.counter }}</h5>
        <button (click)="incrementNbProd(product)" class="plus">+</button>
      </div>
    </div>
    <h4>{{ product.name }}</h4>
    <h3>{{ product.title }}</h3>
    <h2>${{ product.price }}</h2>
  </div>
  }
</div>
