<div class="cart">
  <div class="header">Your Cart ({{ this.cartNumber() }})</div>
  <div *ngIf="!this.cartStatus()" class="empty-cart">
    <img src="./assets/illustration-empty-cart.svg" alt="Empty Cart" />
    <p>Your added items will appear here</p>
  </div>
  <div *ngIf="this.cartStatus()" class="cart-products">
    @for(product of this.cartProducts(); track product.title + product.counter
    +product.price ){
    <div class="product">
      <div class="title">{{ product.title }}</div>
      <div class="prod-price">
        <h5>{{ product.counter }} x</h5>
        <h5>${{ product.price.toFixed(2) }}</h5>
        <h5>${{ product.totalPrice.toFixed(2) }}</h5>
        <img
          (click)="deleteProduct(product)"
          src="./assets/icon-remove-item.svg"
          alt=""
        />
      </div>
    </div>
    }
  </div>
  <div *ngIf="this.cartStatus()" class="price">
    <div class="order-total">
      <h5>Order Total :</h5>
      <h5>${{ this.orderTotal() }}</h5>
    </div>
    <button (click)="activePopUp()">Confirm Order</button>
  </div>
</div>
