/* //////////////////////////////////////////////////////////////////// */
/* /////////// Product List & Cart : Machlou Mohamed ////////////////// */
/* //////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////// */
/* Start Variables */
:root {
  /* - Red: hsl(14, 86%, 42%) */
  --red-color: hsl(14, 86%, 42%);
  --red-color-hover: hsl(14, 74%, 55%);
  /* - Green: hsl(159, 69%, 38%) */
  --green-color: hsl(159, 69%, 38%);

  /* - Rose 50: hsl(20, 50%, 98%) */
  --rose50-color: hsl(20, 50%, 98%);
  /* - Rose 100: hsl(13, 31%, 94%) */
  --rose100: hsl(13, 31%, 94%);
  /* - Rose 300: hsl(14, 25%, 72%) */
  --rose300-color: hsl(14, 25%, 72%);
  /* - Rose 400: hsl(7, 20%, 60%) */
  --rose400-color: hsl(7, 20%, 60%);
  /* - Rose 500: hsl(12, 20%, 44%) */
  --rose500-color: hsl(12, 20%, 44%);
  /* - Rose 900: hsl(14, 65%, 9%) */
  --rose900-color: hsl(14, 65%, 9%);
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: poppins;
  caret-color: transparent;
  user-select: none;
}
/* Start Media Queries */
/* Small devices (Portrait phones, 375px and up) */
@media (min-width: 375px) {
  .container {
    width: 98%;
    margin: auto;
    /* background-color: rgb(97, 245, 11); */
    background-color: var(--rose100);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .show-product {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .show-product .product {
    width: 80%;
    padding: 5px;
  }
  .show-product .product .img {
    height: 280px;
  }
  .cart {
    width: 370px;
    background-color: var(--rose50-color);
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    width: 98%;
    /* background-color: rgb(245, 128, 11); */
  }
  .show-product {
    width: 85%;
    gap: 17px;
  }
  .show-product .product {
    width: 70%;
  }
  .show-product .product .img {
    height: 290px;
  }
  .cart {
    width: 480px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 98%;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: flex-start;
    justify-content: space-between;
  }
  .show-product {
    width: 96%;
  }
  .show-product .product {
    width: 90%;
  }
  .show-product .product .img {
    height: 260px;
  }
  .cart {
    width: 90%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 992px;
    /* background-color: #3ccfca; */
    align-items: start;
    justify-content: start;

    grid-template-columns: 60% 40%;
  }
  .show-product {
    width: 100%;
    justify-content: flex-start;
  }
  .show-product .product {
    width: 45%;
  }
  /* .cart {
    background-color: var(--rose50-color);
    width: 90%;
    margin-right: 20px;
  } */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 100%;
    grid-template-columns: 68% 28%;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--rose100);
  }
  .show-product {
    width: 100%;
    gap: 6px;
  }
  .show-product .product {
    width: 32%;
  }
  /* .cart {
    background-color: var(--rose50-color);
    width: 100%;
    margin-right: 20px;
  } */
}
/* End Media Queries */
/* End  Global Rules */
.cart {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.show-product .product .img {
  border-radius: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
